*{
    margin: 0;
    padding: 0;
    font-family: "Arial";
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, black,#4e085f);
    padding: 10px;
}
.todo-list{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-list h2{
    color:grey;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: grey;
    background: #4e085f;
    color:#fff;
    padding: 15px 50px;
    cursor: pointer;
    border-radius: 30px;

}
ul li{
    list-style: none;
    font-size: 25px;
    padding: 12px 12px 12px 12px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li span{
    position:absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:darkgray;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.search{
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.search-result {
    background-color: #ffff66; /* Tło wyszukanego zadania */
    color: #333; /* Kolor tekstu dla wyszukanego zadania */
}